<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <div>{{posts}}</div>
        {% for post in posts %}
        <div>
            <p>published: {{ post.published_date }}</p>
            <h2><a href="">{{ post.title }}</a></h2>
            <p>{{post.text|linebreaksbr }}</p>
        </div>
        {% endfor %}
        <h1>Sigue nadando</h1>
        <h2>Sigue nadando nadando</h2>
        <ul>
            <li>
                Lista
            </li>
            <li>Lista opcion 2</li>
        </ul>
        <p>Holaa</p>
        <p>BIenvenido</p>
    </body>
</html>